* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #edf2f7;
    color: #333;
    line-height: 1.6;
  }
  
  .container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .header h1 {
    font-size: 3rem;
    color: #333;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    flex-basis: calc(50% - 20px);
    text-align: left;
  }
  
  .card h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
  }
  
  .card p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  #donateButton, #donorButton, #donateOrganButton, #viewNftButton {
    padding: 12px 24px; /* Slightly increased padding for a moderately larger button */
    font-size: 1.1rem; /* Moderately larger font size for better readability */
    border-radius: 6px; /* Slightly rounded corners for a softer look */
    background-color: #4a76a8; /* A pleasant blue color */
    color: white; /* White text for better contrast */
    border: none; /* Remove default border */
    cursor: pointer; /* Change cursor to pointer on hover for better user experience */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#donateButton:hover, #donorButton:hover, #donateOrganButton:hover, #viewNftButton:hover {
    background-color: #3b5a82; /* Darker shade of blue on hover for interactive feedback */
}
